@font-face {
  font-family: Rockwell;
  src: url(../fonts/RockwellNova-Bold.woff);
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Kufam";
  src:  url("../fonts/Kufam/Kufam-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
  display: swap;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Kufam", sans-serif;
  background: url(../img/banners/main_bg.png);
  color: #373737;
  direction: rtl;
  text-align: right;
}
[dir=rtl] * {
  direction: rtl;
  text-align: right;
}

a {
  color: #004c97;
  text-decoration: none !important;
}

a:hover {
  color: #159ccc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kufam", serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: url(../img/loading_bg.png) left no-repeat;
  background-size: cover;
  padding: 0 20px;
}


@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 2px solid #004c97;
}
.back-to-top i {
  font-size: 28px;
  color: #004c97;
  line-height: 0;
}
.back-to-top:hover {
  background: #004c97;
  color: #fff;
}
.back-to-top:hover i {
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header:not(.transparent_header) {
  background: #f9fafb40;
  transition: all 0.5s;
  z-index: 997;
  padding: 0;
  top: 0;
}
.transparent_header{
  background: transparent;
  padding: 10px 0 0;
}
#header.header-scrolled {
  top: 0;
  background: #004c97;
  border-bottom:1px solid #bbd3eb6b;
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 7px 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 60px;
}
.burger-icon{
  padding: 0;
  margin-left: 20px;
}
.book-a-table-btn {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}
[dir=ltr] .book-a-table-btn{
  margin: 0 0 0 15px;
}
[dir=rtl] .book-a-table-btn{
  margin: 0 7px 0 0;
}
.book-a-table-btn:hover {
  background: #004c97;
  color: #fff;
}

.carousel-caption h5{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .book-a-table-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
  .play_video img {
    max-width: 40px !important;
  }
  .carousel-caption h5{
    padding-top: 0;
  }
}
@media screen and (min-width:993px){
  .carousel-caption h5{
    padding-top: 30px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  
}
[dir=rtl] .navbar a i, .navbar a:focus i{
  margin-right: 5px;
}
[dir=ltr] .navbar a i, .navbar a:focus i{
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #d9ba85;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #444444;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
[dir=rtl] .navbar .dropdown ul a i{
  transform: rotate(180deg);
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #004c97;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 991px)  and (min-width:768px){
  #last_news .badge{
    bottom: -15px;
  }
  #footer .copyright{
    margin-bottom: 30px;
  }

  #last_news .middle .card img{
    height: 90% !important;
  }
  #last_news .card .text{
    font-size: 17px !important;
  }

  .swiper-slide p{
    font-size: 1rem !important;
  }
  
}
.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 15px;
  left: 0;
  padding: 50px 0;
  border-radius: 0;
  background-color: #004c97;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: transparent;
  box-shadow: none;
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #fff;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 110px;
}
@media (max-width: 992px) {
  #hero .container {
    padding-top: 98px;
  }
}

@media screen and (min-width:992px) and (max-width:1024px) {
  #header .logo img {
    max-height: 50px;
  }

  .burger-icon {
    margin-left: 7px;
}
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h1 span {
  color: #004c97;
}
#hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}
#hero .btns {
  margin-top: 30px;
}
#hero .btn-menu, #hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #004c97;
}
#hero .btn-menu:hover, #hero .btn-book:hover {
  background: #004c97;
  color: #fff;
}
#hero .btn-book {
  margin-left: 15px;
}
#hero .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#004c97 50%, rgba(205, 164, 94, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;  
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.play-btn::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 70px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 35px;
  border: 5px solid rgba(205, 164, 94, 0.7);
  background: rgba(198, 16, 0, 0);
}
 .play-btn:hover::after {
  transform: scale(1.1);
}
.play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
.play-btn {
    margin-top: 30px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: auto;
  }
  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #1a1814;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #004c97;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #1d1b16;
  margin-top: 110px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 98px;
  }
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #37332a;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("../img/about-bg.jpg") center center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}
.about:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.about .about-img {
  position: relative;
  transition: 0.5s;
}
.about .about-img img {
  max-width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.about .about-img::before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: "";
  border-left: 5px solid #004c97;
  border-top: 5px solid #004c97;
  transition: 0.5s;
}
.about .about-img::after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
  content: "";
  border-right: 5px solid #004c97;
  border-bottom: 5px solid #004c97;
  transition: 0.5s;
}
.about .about-img:hover {
  transform: scale(1.03);
}
.about .about-img:hover::before {
  left: 10px;
  top: 10px;
}
.about .about-img:hover::after {
  right: 10px;
  bottom: 10px;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #004c97;
}
.about .content p:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .about {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: #1a1814;
}
.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #004c97;
}
.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}
.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.why-us .box:hover {
  background: #004c97;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}


/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
  background: url(../img/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.events::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.events .section-title h2 {
  color: #fff;
}
.events .container {
  position: relative;
}
@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}
.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}
.events .event-item {
  color: #fff;
}
.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #004c97;
}
.events .event-item .price {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.events .event-item .price span {
  border-bottom: 2px solid #004c97;
}
.events .event-item ul {
  list-style: none;
  padding: 0;
}
.events .event-item ul li {
  padding-bottom: 10px;
}
.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #004c97;
}
.events .event-item p:last-child {
  margin-bottom: 0;
}
.events .swiper-pagination {
  margin-top: 30px;
  position: relative;
}
.events .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.events .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #004c97;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-color: #004c97;
  text-align: center;
  color: #fff;
}
.services .service{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services .service img{
  margin: auto;
  margin-bottom: 25px;
  display: block;
  max-width:75px;
}

.service .service-info h4{
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.service .service-info p{
  text-align: center;
}

.service:not(:last-child) .image_wrapper{
  border-left: 2px solid #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #004c97;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.php-email-form {
  width: 100%;
}
 .php-email-form .form-group {
  padding-bottom: 8px;
}
 .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
}
.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #004c97;
  border-top-color: #1a1814;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
 .php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: transparent;
  border-color: #fff;
  color: white;
}
.php-email-form input::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
  color: #fff;
}
.php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
  color: #fff;
}
 .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #fff;
  background: transparent;
}
.php-email-form input {
  height: 44px;
}

.php-email-form button[type=submit] {
  background: #159ccc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0;
  width: 100%;
  text-align: center;
}
.php-email-form button[type=submit]:hover {
  background: #004c97;
}
.nav-tabs .nav-link{
  border-color: #fff;
  border-radius: 5px;

}

.nav-tabs{
 padding: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
} 
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #373737;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 30px 0 0px 0;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}
#footer .footer-top .social-links {
  justify-content: end;
  display: flex;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  color: #004c97;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#footer .footer-top .footer-links ul li {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:not(:last-child){
  border-left: 1px solid #fff;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #004c97;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.mobile-header-wrapper-style.sidebar-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top .mobile-header-logo a {
  display: block;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav {
  height: 100%;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .main-categori-wrap a i {
  margin-right: 15px;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .main-categori-wrap .categori-dropdown-active-small {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.header-action-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-header-wrapper-style {
  position: fixed;
  top: 0;
  width: 360px;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translate(200px, 0);
  transform: translate(200px, 0);
  background-color: #004c97;
  -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
  z-index: 99999;
}
.mobile-header-wrapper-style.sidebar-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-header-wrapper-style.sidebar-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top .mobile-header-logo a {
  display: block;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav {
  height: 100%;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav ul{
  list-style-type: none;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav ul.dropdown{
  padding-right: 10px;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .main-categori-wrap a i {
  margin-right: 15px;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li {
  display: block;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #f9fafb59;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li:last-child {
  border-bottom: none;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li {
  padding: 7px 0;
  border-bottom: none;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .main-categori-wrap .categori-dropdown-active-small {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top .mobile-header-logo a img {
  width:200px;
}

.close-style-wrap .close-style {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
}

.close-style-wrap .close-style > i {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  -webkit-transform-origin: center;
  transform-origin: center;
  display: block;
  overflow: hidden;
  color: #fff;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li a {
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: #fff;
}

.sticky-bar.stick .main-menu > nav > ul > li > a.active, .sticky-bar.stick .main-menu > nav > ul > li > a:hover, .main-menu.menu-dark > nav > ul > li > a:hover, .main-menu.menu-dark > nav > ul > li > a.active, .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li a.active {
  color: #159ccc;
  font-weight: 600;
}

.btn-check:focus+.btn, .btn:focus{
  box-shadow: none;
}

.login{
  padding: 0 5px;
  max-width: 28px;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.menu-item-has-children .menu-expand {
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  text-align: center;
  font-size: 12px;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 35px;
  color: #fff;
}





  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  

.carousel-caption{
  position: absolute;
  left: unset;
  right: unset;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.play_video {
  text-align: center;
}
.play_video img{
  max-width: 60px;
}
.subscribe{
  margin-top: 25px;
  
}
.subscribe div{
  border-radius: 35px;
  text-align: center;
}
.subscribe a{
  background: #159ccc;
  border-radius: 35px;
  text-align: center;
  padding: 15px 39px;
  background-size: contain;
}
.subscribe .v2{
  background: #1e94bfb3;
  padding: 17px 8px;
}
.subscribe .v1{
    padding: 4px 5px;
    max-width: 207px;
    margin: auto;
    background: #3f6476;
}
.subscribe a{
  color: #fff;
}
.play_video:hover img{
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
}
.subscribe a:hover,
.subscribe a:focus{
  background-color: #004c9775;
  transition: all 0.4s;
}

.loader-container {
	width: 100%;
  padding: 0 20px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
 
}
.progress{
  background-color: #fff;
  border-radius: 35px !important;
}

.loader-container .img-fluid{
  max-width: 50%;
  margin-bottom: 25px;
}
.progress-bar-color{
  background-color: #02def8 !important;
  border-radius: 35px;
  padding: 0 30px;
}

.progress-bar{
  font-size: 0;
}

@media screen and (min-width:768px) {
  .loader-container{
    max-width: 600px;
  }
}

.slider_number_img{
  position: relative;
  z-index: 99;
  max-width:100%;
  margin-top: -20px;
}
.slider_number{
  position: absolute;
    left: 20%;
    padding: 5px;
    font-weight: 500;
    z-index: 4000;
    font-size: 1rem;
    width: 45px;
    height: 45px;
    line-height: 37px;
    background-color: #314250;
    border-radius: 0;
    color: #fff;
    border: 1px solid #314250;
    border-radius: 50%;
    text-align: center;
    letter-spacing: 2px;
    margin-top:-6px;
}

.carousel-control-next, .carousel-control-prev,
.main_slider .swiper-button-next, .main_slider.swiper-rtl .swiper-button-prev{
 position: relative;
  background-color: transparent;
  color: #fff;
  opacity: 1;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  
}
.main_slider .swiper-button-next::after,.main_slider.swiper-rtl .swiper-button-prev::after{
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
.main_slider  .carousel-control-prev ,
.main_slider  .swiper-button-next,.main_slider.swiper-rtl .swiper-button-prev{
  left: 5%;
  right: auto;
}

.main_slider .swiper-button-prev, .main_slider.swiper-rtl .swiper-button-next{
  left: -4px;
}
.num_wrapper{
 margin-top: -5%;
 margin-bottom: 7%;
}

.main_slider .swiper-button-next,.main_slider .swiper-button-prev{
  top: 7px;
}

.home_section_title, .home_section_title h2{
  color: #004c97;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: -1px;

}

.product_section_title{
  color: #004c97;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  border-right: 5px solid #159ccc;
  padding: 0 15px 0 0;
}
.home_section_titlew--50, .home_section_title h2.w--50{
  width:50%
}
#about_us .home_section_title::before, #donations .home_section_title::before{
  content: "";
  border-right: 5px solid #159ccc;
  margin-left: 10px;
  height: 25px;
  display: inline-block;
}
#about_us .row{
  align-items: center;
}

.colred_span{
  height:2px;
  width:30px;
  margin: 0 3px;
  border-radius: 3px;
}
.grey{
  background-color: #343a40;
}
.blue{
  background-color: #159ccc;
}

.swiper-slide p{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}
.goal-item {text-align: center;}
.goal-item img { height:150px;width:auto;padding: 15px;margin: auto;}
.swiper-button-next, .swiper-button-prev{
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 2px solid #9f9fa1;
  
}

.swiper-button-next::after, .swiper-button-prev::after{
  font-size: 20px;
  color: #9f9fa1;
  line-height: 0;
  font-weight: bold;
}
#donations .swiper-button-next,#donations .swiper-button-prev{
  border-color: #004c97;
  position: relative;
  left: unset;
  right: unset;
}
#donations .swiper-button-next::after,#donations  .swiper-button-prev::after{
  color: #004c97;
  font-weight: bold;
}

.flex_reverse{
  flex-direction: row-reverse;
}

#donations .swiper-button-next{
  margin-left: 5px;
}
.cards_wrapper .card{
  border-radius: 10px;
  background: #004c97;
  border: none;
}

.cards_wrapper ul{
  list-style: none;
  padding: 0;
}
.cards_wrapper ul li{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: #76777a;
  font-size: 0.9rem;
}
.comments_number{
  color: #76777a;
  font-size: 0.9rem;
}
.cards_wrapper .progress{
  direction: ltr;
  border-radius: 0;
  background-color: #eaeaea;
}
.cards_wrapper .progress span:not(.caret){
  background: #004c97;
  color: #fff;
  display: block;
  width: 40px;
  height: 28px;
  position: absolute;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  margin-top: -41px;
}
.cards_wrapper .progress span.caret{
  border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #004c97;
    height: 0;
    width: 0;
    margin-top: -10px;
    position: absolute;
    margin-right: 15px;
    display: inline-block;
}
.cards_wrapper ul li img{
  margin-left: 7px;
  max-width: 20px;
}

.cards_wrapper  p{
  text-align: initial;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #76777a;
}

.cards_wrapper .card-footer{
  text-align: center;
  background-color: #004c97;
  border-bottom: 7px solid #159ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  transition: 0.4s all;
}

.cards_wrapper:hover .card{
  background-color: #159ccc;
  transition: 0.4s all;
}

.cards_wrapper .card-footer:hover{
  background-color: #159ccc;
}
.grey_bg{
  background: #f5f5f585;
}
.cards_wrapper .card-body{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: white;
  padding: 1rem 1rem 0;
}

.cards_wrapper .card-footer a{
  color: #fff;
}

.cards_wrapper h5{
  color: #159ccc;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}

#donations .swiper-pagination{
  bottom: -25px;
}

.swiper-pagination-clickable .swiper-pagination-bullet, .swiper-pagination-bullet{
    height: 2px;
    width: 25px;
    margin: 0 3px;
    border-radius: 3px;
    background-color: #76777a;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #159ccc;
  width: 35px;
}

#instagram{
  background-color: #f6f6f6;
}

#instagram img{
  height: 200px;
  width: 100%;
}

/**** LAST News ****/
#last_news{
  background: url(../img/banners/last_news.png) no-repeat top;
}

#last_news .badge{
  background-color: #159ccc;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 56px;
  align-items: center;
  border-radius: 0;
  font-size: 0.9rem;
  position: absolute;
  left: 15px;
  bottom: -15px;
  text-align: center;
}
.card-header{
  position: relative;
}
#last_news .col-12 {
  max-height: 50%;
  display: block;
}
#last_news .card .text{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text .reference{
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

@media screen and (max-width:767px) {
  #footer .copyright{
    margin-bottom: 0;
    padding-top: 0;
  }
  #footer .copyright::after{
    content: "";
    border-bottom: 2px solid #159ccc;
    width: 50px;
    height: 1px;
    display: block;
    margin: 10px auto 7px;
  }
  #footer .footer-top .footer-links ul{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .slider_number, .main_slider .carousel-control-prev, .main_slider .swiper-button-next, .main_slider.swiper-rtl .swiper-button-prev{
    display: none;
  }

  .slider_number_img{
    width:100%;
  }
  .main_slider.swiper{
    height: 600px;
  }
  .main_slider img{
    height: 600px;
    width: auto;
    max-width: unset;
  }
  .icons_wrapper{
    justify-content: center !important;
  }
  #footer .footer-top .footer-links ul li{
    padding: 20px 5px 0;
    border-left: none !important;
  }
  .service:not(:last-child) .image_wrapper{
    border-left: none !important;
  }
  .social-links{
    align-items: center;
    justify-content: center !important;
  }
  #instagram img {
    height: 85px;
    width: 100%;
}

#last_news .col-md-4{
  margin-top: 20px;
}
section {
  padding: 30px 0;
}
#donations .d-flex.pb-4{
  flex-direction: column;
}
#donations .flex_reverse{
  margin-top: 20px;
}
#donations .swiper-pagination {
  bottom: 0;
}
#partners .col-md-2{
  padding:10px 5% !important;
}
#partners .col-md-2 img{
  max-width: 70%;
}
.home_section_title, .home_section_title h2{
  width: 100% !important;
}
}
#last_news .card{
  border-radius: 10px;
  height: 100%;
}

#last_news .card .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
}

#last_news .middle .card{
  height: 50%;
  background-color: transparent;
  border: none;
}
#last_news .middle .card img{
  height: 93%;
  width: 100%;
}
#last_news .card:not(:last-child){
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .slider_number{
    margin-top: -10px;
  }
}

@media screen and (max-width:992px) {
  .service .service-info h4 {
    font-size: 1.5rem;
}

.services .service img{max-width: 55px;}
section{padding: 30px 0;}
#donations .swiper-pagination {
  bottom: 0;
}
  #footer .footer-top .social-links{
    justify-content: center;
    margin-top:25px;
  }
  
 
  .carousel-control-next, .carousel-control-prev, .main_slider .swiper-button-next, .main_slider.swiper-rtl .swiper-button-prev{
    width: 30px;
    height: 30px;
  }
  .main_slider .swiper-button-next::after, .main_slider.swiper-rtl .swiper-button-prev::after {
    font-size: 14px;
    padding: 3px;
  }
}

#partners .col-md-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 2%;
}

.mainblue_bg{
  background: url(../img/loading_bg.png) left no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.mainblue_bg #footer{
  background-color: transparent;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.wrapper h1, .wrapper p{
  text-align: center;
  color: #fff;
}

.wrapper h1{
  font-weight: bold;
}

.wrapper a{
  color: #fff;
}

.wrapper a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.logins_footer .social-links{
  justify-content: center !important;
}

.logins_footer .copyright{
padding-bottom: 0 !important;
}

.wrapper .nav-tabs{
  border-bottom: none;
  margin-bottom: 25px;
}

.custome-checkbox .form-check-label {
  position: relative;
  cursor: pointer;
  color: #fff;
  padding: 0;
  vertical-align: middle;
}
.form-check-input[type=checkbox] {
  border-radius:0;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 0;
}
.wrapper .form-control{
  border-color: #fff;
}

.custome-radio .form-check-input, .custome-checkbox .form-check-input {
  display: none;
}

.form-check-input:checked[type=checkbox] {
  background-image: none;
}
.custome-checkbox input[type="checkbox"] + .form-check-label::after {
    content: "";
    width: 11px;
    position: absolute;
    top: 50%;
    opacity: 0;
    height: 6px;
    border-left: 2px solid #159ccc;
    border-bottom: 2px solid #159ccc;
    -webkit-transform: translateY(-65%) rotate(-45deg);
    transform: translateY(-65%) rotate(-45deg);
}

.custome-checkbox .form-check-label::before {
  content: "";
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  margin-left: 10px;
}

.custome-checkbox input[type="checkbox"] + .form-check-label::after {
  right: 3px;
}

.custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
  opacity: 1;
}

.php-email-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
  font-size: smaller;
  line-height: 1;
}
.php-email-form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  font-size: smaller;
  line-height: 1;
}
.php-email-form :-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  font-size: smaller;
  line-height: 1;
}
.php-email-form :-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
  font-size: smaller;
  line-height: 1;
}

.bg-ctg{
  background: url(../img/banners/category_banner.png) center no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 70px;
}

.category form{
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}

.category .form-label{
 color: #004c97;
 margin-top: 0;
 font-weight: 600;
}

.category form .form-select, 
.category form .form-control{
  height: 40px;
  border-radius: 7px;
  font-size: 0.85rem;
}

.category form button{
  width:100%;
  border-radius: 7px;
  background-color: #004c97;
  border-color: #004c97;
  height: 40px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.pagination .page-item{
  margin-left: 10px;
}

.pagination .page-item a{
  text-align: center;
  width: 40px;
  height: 40px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px !important;
  background-color: #f6f6f6;
  color: #b1b1b1;
  font-weight: 600;
  border-color: #e4e4e4;
  transition: 0.4s all ease-in-out;
}

.page-item.active .page-link, .pagination .page-item a:hover {
  color: #fff;
  background-color: #159ccc;
  border-color: #159ccc;
}

.bordered_grey{
  border: 1px solid #e4e4e4;
}

.border-radius{
  border-radius: 10px;
}

.sidebar_filters h3{
  font-size: 20px;
  font-weight: bold;
}
.sidebar_filters .search_results{
  color: #159ccc;
  font-weight: 500;
}

.sidebar_filters .search_header{
  border-bottom: 1px solid #e4e4e4;
}

.sidebar_filters ul{
  list-style: none;
  padding: 0;
}

.sidebar_filters .btn {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0,0,0,0.65);
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.sidebar_filters .btn[aria-expanded="true"] {
  color: #454545;
}

.sidebar_filters .btn::after {
  width: 1em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  transform: rotate(-90deg);
  color: #454545;
}

.sidebar_filters .btn[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.sidebar_filters .list-group-item{
  border: none;
  font-size: 0.9rem;
  padding:0 0 5px;
  color: #8d8d8d;
}

.sidebar_filters .list-group-item input{
  margin-left: 0;
  width: 15px;
  height: 15px;
  border-color: #e3e4e4;
}

.list-filter li {
  display: inline-block;
  margin-bottom: 7px;
  min-width: 49%;
}

.size-filter.list-filter li a {
  border: 1px solid #37b56c;
  color: #eceef0;
  min-width: 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 35px;
  display: block;
}

/* .size-filter.list-filter li a:hover{
  color: #37b56c;
} */
.sidebar_filters .filter_item:not(:last-child){
  border-bottom: 1px solid #e4e4e4;
}
.size-filter.list-filter li a div{
  display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 7px;
    align-items: center;
}
.font-small {
  font-size: small;
}
.size-filter.list-filter .fa-circle{
  margin: 0 1px;
  transition: all 0.4s;
  font-size: small;
}

.size-filter.list-filter .fa-circle.checked {
  color: #37b56c;
  border-color: #37b56c;
}

.top_header{
  margin-bottom: 30px;
}

.product_details h3{
  color: #58b5d9;
  font-weight: 600;
  font-size: 1.2rem;
}

.product_details ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.product_details ul li:not(:last-child){
  margin-left: 20px;
}

.product_information .social-links i{
  color: #868686;
  font-size: 1.1rem;
  padding-left: 5px;
}

.product_information .card{
  border-radius: 10px;
  padding: 0;
  border: none;
  margin: 0 12px 15px;
}

.product_information .card .album {
  margin-bottom: 20px;
}

.product_information .card .row{
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.product_details .col-md-12{
  padding: 0 20px;
}

.participate{
background-color: #004c97;
padding: 15px;
font-size: larger;
font-weight: bold;
border: none;
transition: all 0.4s;
}
.participate:hover,
.participate:focus{
  background-color: #159ccc;
  box-shadow: none;
}
.step > * {
  text-align: center;
}

.step h5{
  padding-top: 20px;
  color: #fff;
  font-size: 1.2rem;
}
.step .icon{
  border-radius: 50%;
  width:60px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

@media screen and (min-width:992px) {
  .step .icon{
    width: 100%;
    height: 80px;
  }
}



.step.done .icon{
  background-color: #fff;
  color: #159ccc;
}

.step .icon.number{
  font-family: Rockwell, serif;
}

.bg-separator{
  background: url(../img/separator.png) center no-repeat;
  background-size: contain;
}

.main_slider .carousel-control-prev:hover, 
.main_slider .swiper-button-next:hover, .main_slider.swiper-rtl .swiper-button-prev:hover{
  background-color: #159ccc;
  transition: all 0.4s;
  border-color: #159ccc;
}

.swiper-button-next:hover, .swiper-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover, .swiper-rtl .swiper-button-next:hover{
background-color: #159ccc;
border-color: #159ccc;
transition: all 0.4s;

}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after{
  color: #fff;
}